:root {
      --white: #FDF5FF;
      --background: #1E252B;
      --second-main: #FF6E30;

}

h1,h2,h3,h4,h5,h6,p,img,button,a{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1245px;
    padding: 0 15px;
}

button{
    border-style: none;
}


body{
    background-color: var(--background);


}

